<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStatusBarStyle</key>
	<string>LightContent</string>
	<key>UIVisualEffectView</key>
	<string>Dark</string>
	<key>Global</key>
	<dict>
		<key>backgroundColor</key>
		<string>#000000</string>
		<key>barTintColor</key>
		<string>#000000</string>
		<key>barTitleTextColor</key>
		<string>#A5A5A5</string>
		<key>blurBackgroundColor</key>
		<string>#33333380</string>
		<key>borderColor</key>
		<string>#696969</string>
		<key>textColor</key>
		<string>#A5A5A5</string>
		<key>textFieldBackgroundColor</key>
		<string>#141414</string>
		<key>textFieldTextColor</key>
		<string>#A5A5A5</string>
		<key>textFieldPlaceholderTextColor</key>
		<string>#545454</string>
		<key>tintColor</key>
		<string>#FF9F0A</string>
		<key>tintedBackgroundColor</key>
		<string>#0C0C0C</string>
		<key>tintedButtonTextColor</key>
		<string>#EEEEEE</string>
		<key>separatorColor</key>
		<string>#333333</string>
		<key>separatorColorLight</key>
		<string>#4C4C4C</string>
		<key>sidebarBackgroundColor</key>
		<string>#00000000</string>
		<key>subTextColor</key>
		<string>#696969</string>
	</dict>
	<key>TableViewCell</key>
	<dict>
		<key>backgroundColor</key>
		<string>#0D0D0D</string>
		<key>titleTextColor</key>
		<string>#A5A5A5</string>
		<key>subTextColor</key>
		<string>#696969</string>
		<key>chevronColor</key>
		<string>#A5A5A5</string>
		<key>selectedBackgroundColor</key>
		<string>#1A1A1A</string>
		<key>selectedTitleTextColor</key>
		<string>#A5A5A5</string>
		<key>selectedSubTextColor</key>
		<string>#696969</string>
		<key>selectedChevronColor</key>
		<string>#A5A5A5</string>
		<key>actionDefaultColor</key>
		<string>#777777</string>
	</dict>
</dict>
</plist>
