<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStatusBarStyle</key>
	<string>Default</string>
	<key>UIVisualEffectView</key>
	<string>Light</string>
	<key>Global</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
		<key>barTintColor</key>
		<string>#FFFFFF</string>
		<key>barTitleTextColor</key>
		<string>#FF9300</string>
		<key>blurBackgroundColor</key>
		<string>#F7F7F780</string>
		<key>borderColor</key>
		<string>#9B9B9B</string>
		<key>textColor</key>
		<string>#000000</string>
		<key>textFieldBackgroundColor</key>
		<string>#DCDCDC</string>
		<key>textFieldTextColor</key>
		<string>#000000</string>
		<key>textFieldPlaceholderTextColor</key>
		<string>#9B9B9B</string>
		<key>tintColor</key>
		<string>#FF9300</string>
		<key>tintedBackgroundColor</key>
		<string>#FFF3E3</string>
		<key>tintedButtonTextColor</key>
		<string>#FFFFFF</string>
		<key>separatorColor</key>
		<string>#979797</string>
		<key>separatorColorLight</key>
		<string>#BBBBBB</string>
		<key>subTextColor</key>
		<string>#979797</string>
	</dict>
	<key>TableViewCell</key>
	<dict>
		<key>backgroundColor</key>
		<string>#F6F6F6</string>
		<key>titleTextColor</key>
		<string>#000000</string>
		<key>subTextColor</key>
		<string>#9B9B9B</string>
		<key>chevronColor</key>
		<string>#9B9B9B</string>
		<key>selectedBackgroundColor</key>
		<string>#DFEDFD</string>
		<key>selectedTitleTextColor</key>
		<string>#0079FF</string>
		<key>selectedSubTextColor</key>
		<string>#78B9FF</string>
		<key>selectedChevronColor</key>
		<string>#0079FF</string>
		<key>actionDefaultColor</key>
		<string>#777777</string>
	</dict>
</dict>
</plist>
