<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>UIStatusBarStyle</key>
	<string>LightContent</string>
	<key>UIVisualEffectView</key>
	<string>Light</string>
	<key>Global</key>
	<dict>
		<key>backgroundColor</key>
		<string>#353A50</string>
		<key>barTintColor</key>
		<string>#353A50</string>
		<key>barTitleTextColor</key>
		<string>#EEEEEE</string>
		<key>blurBackgroundColor</key>
		<string>#353A50BF</string>
		<key>borderColor</key>
		<string>#AFAFAF</string>
		<key>textColor</key>
		<string>#EEEEEE</string>
		<key>textFieldBackgroundColor</key>
		<string>#525C70</string>
		<key>textFieldTextColor</key>
		<string>#EEEEEE</string>
		<key>textFieldPlaceholderTextColor</key>
		<string>#979DA9</string>
		<key>tintColor</key>
		<string>#FF9300</string>
		<key>tintedBackgroundColor</key>
		<string>#50577D</string>
		<key>tintedButtonTextColor</key>
		<string>#EEEEEE</string>
		<key>separatorColor</key>
		<string>#C6C5C5</string>
		<key>separatorColorLight</key>
		<string>#5A5D6D</string>
		<key>subTextColor</key>
		<string>#AFAFAF</string>
	</dict>
	<key>TableViewCell</key>
	<dict>
		<key>backgroundColor</key>
		<string>#454F63</string>
		<key>titleTextColor</key>
		<string>#EEEEEE</string>
		<key>subTextColor</key>
		<string>#AFAFAF</string>
		<key>chevronColor</key>
		<string>#AFAFAF</string>
		<key>selectedBackgroundColor</key>
		<string>#667286</string>
		<key>selectedTitleTextColor</key>
		<string>#EEEEEE</string>
		<key>selectedSubTextColor</key>
		<string>#AFAFAF</string>
		<key>selectedChevronColor</key>
		<string>#AFAFAF</string>
		<key>actionDefaultColor</key>
		<string>#959DAD</string>
	</dict>
</dict>
</plist>
