<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStatusBarStyle</key>
	<string>LightContent</string>
	<key>UIVisualEffectView</key>
	<string>dark</string>
	<key>Global</key>
	<dict>
		<key>backgroundColor</key>
		<string>#202020</string>
		<key>tintedBackgroundColor</key>
		<string>#46423C</string>
		<key>barTintColor</key>
		<string>#202020</string>
		<key>barTitleTextColor</key>
		<string>#EEEEEE</string>
		<key>blurBackgroundColor</key>
		<string>#33333380</string>
		<key>textColor</key>
		<string>#EEEEEE</string>
		<key>textFieldBackgroundColor</key>
		<string>#4C4C4C</string>
		<key>textFieldTextColor</key>
		<string>#EEEEEE</string>
		<key>textFieldPlaceholderTextColor</key>
		<string>#A2A2A2</string>
		<key>tintColor</key>
		<string>#FF9300</string>
		<key>tintedButtonTextColor</key>
		<string>#EEEEEE</string>
		<key>separatorColor</key>
		<string>#C6C5C5</string>
		<key>separatorColorLight</key>
		<string>#555555</string>
		<key>subTextColor</key>
		<string>#A2A2A2</string>
	</dict>
	<key>TableViewCell</key>
	<dict>
		<key>backgroundColor</key>
		<string>#2D2D2D</string>
		<key>titleTextColor</key>
		<string>#EEEEEE</string>
		<key>subTextColor</key>
		<string>#A2A2A2</string>
		<key>chevronColor</key>
		<string>#A2A2A2</string>
		<key>selectedBackgroundColor</key>
		<string>#494949</string>
		<key>selectedTitleTextColor</key>
		<string>#EEEEEE</string>
		<key>selectedSubTextColor</key>
		<string>#A2A2A2</string>
		<key>selectedChevronColor</key>
		<string>#A2A2A2</string>
		<key>actionDefaultColor</key>
		<string>#777777</string>
	</dict>
	<key>Notifications</key>
	<dict>
		<key>accentColor</key>
		<string>#FFFFFF</string>
	</dict>
</dict>
</plist>
