<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ab</key>
    <string>Abkhazian</string>
    <key>aa</key>
    <string>Afar</string>
    <key>af</key>
    <string>Afrikaans</string>
    <key>ak</key>
    <string>Akan</string>
    <key>sq</key>
    <string>Albanian</string>
    <key>am</key>
    <string>Amharic</string>
    <key>ar</key>
    <string>Arabic</string>
    <key>an</key>
    <string>Aragonese</string>
    <key>hy</key>
    <string>Armenian</string>
    <key>as</key>
    <string>Assamese</string>
    <key>av</key>
    <string>Avaric</string>
    <key>ae</key>
    <string>Avestan</string>
    <key>ay</key>
    <string>Aymara</string>
    <key>az</key>
    <string>Azerbaijani</string>
    <key>bm</key>
    <string>Bambara</string>
    <key>ba</key>
    <string>Bashkir</string>
    <key>eu</key>
    <string>Basque</string>
    <key>be</key>
    <string>Belarusian</string>
    <key>bn</key>
    <string>Bengali</string>
    <key>bh</key>
    <string>Bihari languages</string>
    <key>bi</key>
    <string>Bislama</string>
    <key>bs</key>
    <string>Bosnian</string>
    <key>br</key>
    <string>Breton</string>
    <key>bg</key>
    <string>Bulgarian</string>
    <key>my</key>
    <string>Burmese</string>
    <key>ca</key>
    <string>Catalan</string>
    <key>ch</key>
    <string>Chamorro</string>
    <key>ce</key>
    <string>Chechen</string>
    <key>ny</key>
    <string>Chichewa</string>
    <key>zh</key>
    <string>Chinese</string>
    <key>cv</key>
    <string>Chuvash</string>
    <key>kw</key>
    <string>Cornish</string>
    <key>co</key>
    <string>Corsican</string>
    <key>cr</key>
    <string>Cree</string>
    <key>hr</key>
    <string>Croatian</string>
    <key>cs</key>
    <string>Czech</string>
    <key>da</key>
    <string>Danish</string>
    <key>dv</key>
    <string>Divehi</string>
    <key>nl</key>
    <string>Dutch</string>
    <key>dz</key>
    <string>Dzongkha</string>
    <key>en</key>
    <string>English</string>
    <key>eo</key>
    <string>Esperanto</string>
    <key>et</key>
    <string>Estonian</string>
    <key>ee</key>
    <string>Ewe</string>
    <key>fo</key>
    <string>Faroese</string>
    <key>fj</key>
    <string>Fijian</string>
    <key>fi</key>
    <string>Finnish</string>
    <key>fr</key>
    <string>French</string>
    <key>ff</key>
    <string>Fulah</string>
    <key>gl</key>
    <string>Galician</string>
    <key>ka</key>
    <string>Georgian</string>
    <key>de</key>
    <string>German</string>
    <key>el</key>
    <string>Greek</string>
    <key>gn</key>
    <string>Guarani</string>
    <key>gu</key>
    <string>Gujarati</string>
    <key>ht</key>
    <string>Haitian</string>
    <key>ha</key>
    <string>Hausa</string>
    <key>he</key>
    <string>Hebrew</string>
    <key>hz</key>
    <string>Herero</string>
    <key>hi</key>
    <string>Hindi</string>
    <key>ho</key>
    <string>Hiri Motu</string>
    <key>hu</key>
    <string>Hungarian</string>
    <key>ia</key>
    <string>Interlingua</string>
    <key>id</key>
    <string>Indonesian</string>
    <key>ie</key>
    <string>Interlingue</string>
    <key>ga</key>
    <string>Irish</string>
    <key>ig</key>
    <string>Igbo</string>
    <key>ik</key>
    <string>Inupiaq</string>
    <key>io</key>
    <string>Ido</string>
    <key>is</key>
    <string>Icelandic</string>
    <key>it</key>
    <string>Italian</string>
    <key>iu</key>
    <string>Inuktitut</string>
    <key>ja</key>
    <string>Japanese</string>
    <key>jv</key>
    <string>Javanese</string>
    <key>kl</key>
    <string>Kalaallisut</string>
    <key>kn</key>
    <string>Kannada</string>
    <key>kr</key>
    <string>Kanuri</string>
    <key>ks</key>
    <string>Kashmiri</string>
    <key>kk</key>
    <string>Kazakh</string>
    <key>km</key>
    <string>Central Khmer</string>
    <key>ki</key>
    <string>Kikuyu</string>
    <key>rw</key>
    <string>Kinyarwanda</string>
    <key>ky</key>
    <string>Kirghiz</string>
    <key>kv</key>
    <string>Komi</string>
    <key>kg</key>
    <string>Kongo</string>
    <key>ko</key>
    <string>Korean</string>
    <key>ku</key>
    <string>Kurdish</string>
    <key>kj</key>
    <string>Kuanyama</string>
    <key>la</key>
    <string>Latin</string>
    <key>lb</key>
    <string>Luxembourgish</string>
    <key>lg</key>
    <string>Ganda</string>
    <key>li</key>
    <string>Limburgan</string>
    <key>ln</key>
    <string>Lingala</string>
    <key>lo</key>
    <string>Lao</string>
    <key>lt</key>
    <string>Lithuanian</string>
    <key>lu</key>
    <string>Luba-Katanga</string>
    <key>lv</key>
    <string>Latvian</string>
    <key>gv</key>
    <string>Manx</string>
    <key>mk</key>
    <string>Macedonian</string>
    <key>mg</key>
    <string>Malagasy</string>
    <key>ms</key>
    <string>Malay</string>
    <key>ml</key>
    <string>Malayalam</string>
    <key>mt</key>
    <string>Maltese</string>
    <key>mi</key>
    <string>Māori</string>
    <key>mr</key>
    <string>Marathi</string>
    <key>mh</key>
    <string>Marshallese</string>
    <key>mn</key>
    <string>Mongolian</string>
    <key>na</key>
    <string>Nauru</string>
    <key>nv</key>
    <string>Navajo</string>
    <key>nd</key>
    <string>North Ndebele</string>
    <key>ne</key>
    <string>Nepali</string>
    <key>ng</key>
    <string>Ndonga</string>
    <key>nb</key>
    <string>Norwegian Bokmål</string>
    <key>nn</key>
    <string>Norwegian Nynorsk</string>
    <key>no</key>
    <string>Norwegian</string>
    <key>ii</key>
    <string>Sichuan Yi</string>
    <key>nr</key>
    <string>South Ndebele</string>
    <key>oc</key>
    <string>Occitan</string>
    <key>oj</key>
    <string>Ojibwa</string>
    <key>cu</key>
    <string>Church Slavic</string>
    <key>om</key>
    <string>Oromo</string>
    <key>or</key>
    <string>Oriya</string>
    <key>os</key>
    <string>Ossetian</string>
    <key>pa</key>
    <string>Punjabi</string>
    <key>pi</key>
    <string>Pali</string>
    <key>fa</key>
    <string>Persian</string>
    <key>pl</key>
    <string>Polish</string>
    <key>ps</key>
    <string>Pashto</string>
    <key>pt</key>
    <string>Portuguese</string>
    <key>qu</key>
    <string>Quechua</string>
    <key>rm</key>
    <string>Romansh</string>
    <key>rn</key>
    <string>Rundi</string>
    <key>ro</key>
    <string>Romanian</string>
    <key>ru</key>
    <string>Russian</string>
    <key>sa</key>
    <string>Sanskrit</string>
    <key>sc</key>
    <string>Sardinian</string>
    <key>sd</key>
    <string>Sindhi</string>
    <key>se</key>
    <string>Northern Sami</string>
    <key>sm</key>
    <string>Samoan</string>
    <key>sg</key>
    <string>Sango</string>
    <key>sr</key>
    <string>Serbian</string>
    <key>gd</key>
    <string>Gaelic</string>
    <key>sn</key>
    <string>Shona</string>
    <key>si</key>
    <string>Sinhala</string>
    <key>sk</key>
    <string>Slovak</string>
    <key>sl</key>
    <string>Slovenian</string>
    <key>so</key>
    <string>Somali</string>
    <key>st</key>
    <string>Southern Sotho</string>
    <key>es</key>
    <string>Spanish</string>
    <key>su</key>
    <string>Sundanese</string>
    <key>sw</key>
    <string>Swahili</string>
    <key>ss</key>
    <string>Swati</string>
    <key>sv</key>
    <string>Swedish</string>
    <key>ta</key>
    <string>Tamil</string>
    <key>te</key>
    <string>Telugu</string>
    <key>tg</key>
    <string>Tajik</string>
    <key>th</key>
    <string>Thai</string>
    <key>ti</key>
    <string>Tigrinya</string>
    <key>bo</key>
    <string>Tibetan</string>
    <key>tk</key>
    <string>Turkmen</string>
    <key>tl</key>
    <string>Tagalog</string>
    <key>tn</key>
    <string>Tswana</string>
    <key>to</key>
    <string>Tonga (Tonga Islands)</string>
    <key>tr</key>
    <string>Turkish</string>
    <key>ts</key>
    <string>Tsonga</string>
    <key>tt</key>
    <string>Tatar</string>
    <key>tw</key>
    <string>Twi</string>
    <key>ty</key>
    <string>Tahitian</string>
    <key>ug</key>
    <string>Uighur</string>
    <key>uk</key>
    <string>Ukrainian</string>
    <key>ur</key>
    <string>Urdu</string>
    <key>uz</key>
    <string>Uzbek</string>
    <key>ve</key>
    <string>Venda</string>
    <key>vi</key>
    <string>Vietnamese</string>
    <key>vo</key>
    <string>Volapük</string>
    <key>wa</key>
    <string>Walloon</string>
    <key>cy</key>
    <string>Welsh</string>
    <key>wo</key>
    <string>Wolof</string>
    <key>fy</key>
    <string>Western Frisian</string>
    <key>xh</key>
    <string>Xhosa</string>
    <key>yi</key>
    <string>Yiddish</string>
    <key>yo</key>
    <string>Yoruba</string>
    <key>za</key>
    <string>Zhuang, Chuang</string>
    <key>zu</key>
    <string>Zulu</string>
</dict>
</plist>
