<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Default</string>
		<key>chimes</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Furin</string>
					<key>file</key>
					<string>furin.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Biwa</string>
					<key>file</key>
					<string>biwa.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Shamisen</string>
					<key>file</key>
					<string>shamisen.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Shishi-Odoshi</string>
					<key>file</key>
					<string>shishi_odoshi.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Wadodon</string>
					<key>file</key>
					<string>wadodon.m4a</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Anime</string>
		<key>chimes</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Ara Ara</string>
					<key>file</key>
					<string>ara_ara.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Bonk</string>
					<key>file</key>
					<string>bonk.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Boosto!</string>
					<key>file</key>
					<string>boosto.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Explosion!</string>
					<key>file</key>
					<string>explosion.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>jeb_</string>
					<key>file</key>
					<string>jeb_.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Kuma Shock!</string>
					<key>file</key>
					<string>kuma_shock.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Nya~</string>
					<key>file</key>
					<string>nya.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Nyanpasu!</string>
					<key>file</key>
					<string>nyanpasu.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Oh My Gah!</string>
					<key>file</key>
					<string>oh_my_gah.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Padoru~ Padoru~</string>
					<key>file</key>
					<string>padoru_padoru.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Pine!</string>
					<key>file</key>
					<string>pine.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>PLUS ULTRA!</string>
					<key>file</key>
					<string>plus_ultra.m4a</string>
					<key>alternativeFile</key>
					<string>plus_ultra-v2.m4a</string>
					<key>alternativeFileRequiredTaps</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>PLUS ULTRA! V2</string>
					<key>file</key>
					<string>plus_ultra-v2.m4a</string>
					<key>alternativeFile</key>
					<string>plus_ultra-v3.m4a</string>
					<key>alternativeFileRequiredTaps</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>PLUS ULTRA! V3</string>
					<key>file</key>
					<string>plus_ultra-v3.m4a</string>
					<key>alternativeFile</key>
					<string>plus_ultra.m4a</string>
					<key>alternativeFileRequiredTaps</key>
					<integer>8</integer>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Shika? 🦌</string>
					<key>file</key>
					<string>shika?.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Tutturu~</string>
					<key>file</key>
					<string>tutturu.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Upupupu...</string>
					<key>file</key>
					<string>upupupu.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Waku waku ✨</string>
					<key>file</key>
					<string>waku_waku.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Wow!</string>
					<key>file</key>
					<string>wow.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Yare Yare Daze</string>
					<key>file</key>
					<string>yare_yare_daze.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Youkoso!</string>
					<key>file</key>
					<string>youkoso.m4a</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Jujutsu Kaisen</string>
		<key>chimes</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Ganbare Ganbare</string>
					<key>file</key>
					<string>ganbare_ganbare.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Ryoiki Tenkai</string>
					<key>file</key>
					<string>ryoiki_tenkai.m4a</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>One Piece</string>
		<key>chimes</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Den Den Mushi</string>
					<key>file</key>
					<string>den_den_mushi.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Worororo</string>
					<key>file</key>
					<string>worororo.m4a</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Re:Zero</string>
		<key>chimes</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Ferris Bite</string>
					<key>file</key>
					<string>ferris_biting_ear.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Pachi Pachi</string>
					<key>file</key>
					<string>pachi_pachi.m4a</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Return by Death</string>
					<key>file</key>
					<string>return_by_death.m4a</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Special Edition</string>
		<key>chimes</key>
		<array/>
	</dict>
</array>
</plist>
