<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Default</string>
		<key>icons</key>
		<array>
			<string>Kurozora</string>
			<string>Kuro-chan</string>
			<string>Day</string>
			<string>Night</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Events</string>
		<key>icons</key>
		<array>
			<string>Eco</string>
			<string>Eggatha</string>
			<string>Eggstein</string>
			<string>Hanabi</string>
			<string>John</string>
			<string>Kur &apos;O Zora</string>
			<string>Love Bug</string>
			<string>Melting Kiss</string>
			<string>Meri-Chri</string>
			<string>Pink Lemonade</string>
			<string>Shio Suika</string>
			<string>Sweet Return</string>
			<string>White of Crime</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Anime</string>
		<key>icons</key>
		<array>
			<string>Monokuro</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Apple</string>
		<key>icons</key>
		<array>
			<string>6 Colors</string>
			<string>6 Colors Inverted</string>
			<string>Kurozora Connect</string>
			<string>Kurozora Support</string>
			<string>Kurozora Support Inverted</string>
			<string>iOS 6</string>
			<string>iOS 18</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Desserts</string>
		<key>icons</key>
		<array>
			<string>Cookiezora</string>
			<string>Kuro Caramel</string>
			<string>Kurolicious</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Gems</string>
		<key>icons</key>
		<array>
			<string>Amber</string>
			<string>Amethyst</string>
			<string>Emerald</string>
			<string>Onyx</string>
			<string>Ruby</string>
			<string>Sapphire</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Nature</string>
		<key>icons</key>
		<array>
			<string>Winter</string>
			<string>Spring</string>
			<string>Summer</string>
			<string>Fall</string>
			<string>Flame</string>
			<string>Sakura</string>
			<string>Thunder</string>
			<string>Wind</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Premium</string>
		<key>icons</key>
		<array>
			<string>Coral</string>
			<string>Dutch Orange</string>
			<string>Green</string>
			<string>Ocean Blue</string>
			<string>Peach Orange</string>
			<string>Red</string>
			<string>Rose Gold</string>
			<string>Sky Blue</string>
			<string>Yellow</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Special Edition</string>
		<key>icons</key>
		<array>
			<string>Kurogram</string>
			<string>Kuromorphism</string>
			<string>Product(RED)</string>
			<string>Mini Kuroways</string>
			<string>Monozora</string>
			<string>Strikeout</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Trends</string>
		<key>icons</key>
		<array>
			<string>brat</string>
			<string>Gen Z</string>
			<string>Millenial</string>
		</array>
	</dict>
</array>
</plist>
