<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-1</key>
	<string>Allow All Titles</string>
	<key>2</key>
	<string>G - All Ages</string>
	<key>3</key>
	<string>PG-12 - Parental Guidance Suggested</string>
	<key>4</key>
	<string>R15+ - Violence &amp; Profanity</string>
	<key>5</key>
	<string>R18+ - Adults Only</string>
</dict>
</plist>
