<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppIdentifierPrefix</key>
	<string>$(AppIdentifierPrefix)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Coral</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPhone-Coral</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Day</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPhone-Day</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dutch Orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPhone-Dutch-Orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPhone-Green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Kurogram</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPhone-Kurogram</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Love Bug</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPhone-Love-Bug</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Night</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPhone-Night</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Ocean Blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPhone-Ocean-Blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Peach Orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPhone-Peach-Orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Product(RED)</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPhone-Product-RED</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPhone-Red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Rose Gold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPhone-Rose-Gold</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Sky Blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPhone-Sky-Blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPhone-Yellow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Coral</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPad-Coral</string>
					<string>App-Icon-iPad-Pro-Coral</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Day</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPad-Day</string>
					<string>App-Icon-iPad-Pro-Day</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dutch Orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPad-Dutch-Orange</string>
					<string>App-Icon-iPad-Pro-Dutch-Orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPad-Green</string>
					<string>App-Icon-iPad-Pro-Green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Kurogram</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPad-Kurogram</string>
					<string>App-Icon-iPad-Pro-Kurogram</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Love Bug</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPad-Love-Bug</string>
					<string>App-Icon-iPad-Pro-Love-Bug</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Night</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPad-Night</string>
					<string>App-Icon-iPad-Pro-Night</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Ocean Blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPad-Ocean-Blue</string>
					<string>App-Icon-iPad-Pro-Ocean-Blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Peach Orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPad-Peach-Orange</string>
					<string>App-Icon-iPad-Pro-Peach-Orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Product(RED)</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPad-Product-RED</string>
					<string>App-Icon-iPad-Pro-Product-RED</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPad-Red</string>
					<string>App-Icon-iPad-Pro-Red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Rose Gold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPad-Rose-Gold</string>
					<string>App-Icon-iPad-Pro-Rose-Gold</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Sky Blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPad-Sky-Blue</string>
					<string>App-Icon-iPad-Pro-Sky-Blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-Icon-iPad-Yellow</string>
					<string>App-Icon-iPad-Pro-Yellow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
				<string>AppIcon83.5x83.5</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>app.kurozora.anime</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kuro</string>
				<string>kuroapp</string>
				<string>kurozora</string>
				<string>kurozoraapp</string>
				<string>kz</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>10941</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.lifestyle</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>opera</string>
		<string>googlechromes</string>
		<string>googlechrome</string>
		<string>firefox-focus</string>
		<string>firefox</string>
		<string>dolphin</string>
		<string>brave</string>
		<string>ddgquicklink</string>
		<string>medium</string>
		<string>twitter</string>
		<string>fb</string>
		<string>whatsapp</string>
		<string>youtube</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) requires access to your phone’s camera so you take pictures to use as your profile image or share in the app.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>$(PRODUCT_NAME) uses Face ID or your device’s passcode so only you can access the app.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 Kurozora B.V. All rights reserved.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) uses your location to show you where a sign in has come from on the map in the settings. Your location is also used to allow automatic switching between light and dark themes. Please note that the "Always" option is not necessary for $(PRODUCT_NAME) to work and will reduce your battery life.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) uses your location to show you where a sign in has come from on the map in the settings. Your location is also used to allow automatic switching between light and dark themes. Please note that the "Always" option is not necessary for $(PRODUCT_NAME) to work and will reduce your battery life.</string>
	<key>NSLocationUsageDescription</key>
	<string>$(PRODUCT_NAME) uses your location to show you where a sign in has come from on the map in the settings. Your location is also used to allow automatic switching between light and dark themes.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) uses your location to show you where a sign in has come from on the map in the settings. Your location is also used to allow automatic switching between light and dark themes.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) requires access to your photo library to save images.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) requires access to your photo library so you can choose your profile picture or share your images in the app.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>AddAnimeIntent</string>
		<string>OpenAnimeIntent</string>
		<string>SearchAnimeIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Aller_Bd.ttf</string>
		<string>AllerDisplay.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Symbols/house_fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Home</string>
			<key>UIApplicationShortcutItemType</key>
			<string>HomeShortcut</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Symbols/app_badge_fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Notifications</string>
			<key>UIApplicationShortcutItemType</key>
			<string>NotificationShortcut</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Symbols/person_crop_circle_fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Profile</string>
			<key>UIApplicationShortcutItemType</key>
			<string>ProfileShortcut</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>gamekit</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
