<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app.kurozora.nonConsumable.kurozoraOne</key>
	<string>Kurozora One</string>
	<key>20000331KTIPWOLF</key>
	<string>🐺</string>
	<key>20000331KTIPTIGER</key>
	<string>🐯</string>
	<key>20000331KTIPDEMON</key>
	<string>👺</string>
	<key>20000331KTIPDRAGON</key>
	<string>🐲</string>
	<key>20000331KTIPGOD</key>
	<string>🙏</string>
	<key>20000331KPLUS1M</key>
	<string>One Month</string>
	<key>20000331KPLUS6M</key>
	<string>Six Months</string>
	<key>20000331KPLUS12M</key>
	<string>Twelve Months</string>
</dict>
</plist>
