<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app.kurozora.wolfTip</key>
	<string>🐺</string>
	<key>app.kurozora.tigerTip</key>
	<string>🐯</string>
	<key>app.kurozora.demonTip</key>
	<string>👺</string>
	<key>app.kurozora.dragonTip</key>
	<string>🐲</string>
	<key>app.kurozora.godTip</key>
	<string>🙏</string>
	<key>app.kurozora.kurozoraPlus1Month</key>
	<string>One Month</string>
	<key>app.kurozora.kurozoraPlus6Months</key>
	<string>Six Months</string>
	<key>app.kurozora.kurozoraPlus12Months</key>
	<string>Twelve Months</string>
</dict>
</plist>
