<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app.kurozora.temporary.nonConsumable.kurozoraOne</key>
	<string>Kurozora One</string>
	<key>app.kurozora.temporary.wolfTip</key>
	<string>🐺</string>
	<key>app.kurozora.temporary.tigerTip</key>
	<string>🐯</string>
	<key>app.kurozora.temporary.demonTip</key>
	<string>👺</string>
	<key>app.kurozora.temporary.dragonTip</key>
	<string>🐲</string>
	<key>app.kurozora.temporary.godTip</key>
	<string>🙏</string>
	<key>app.kurozora.temporary.kurozoraPlus1Month</key>
	<string>One Month</string>
	<key>app.kurozora.temporary.kurozoraPlus6Months</key>
	<string>Six Months</string>
	<key>app.kurozora.temporary.kurozoraPlus12Months</key>
	<string>Twelve Months</string>
</dict>
</plist>
